torch==2.4.1
transformers==4.45.1
trl==0.11.4
datasets==2.21.0
accelerate==0.34.2
wandb==0.18.5
peft==0.13.0
bitsandbytes==0.44.1      
# or use:
# git+https://github.com/TimDettmers/bitsandbytes.git@e6cc109#egg=bitsandbytes
loralib
